
#nav li {
    list-style-type: none;
}
#nav  li a {
		background-image: url("../images/pic.gif") ;
	    height: 100px;
		width: 100px;
	    margin: 0; padding: 0;
		background-repeat: no-repeat;
		display: block;
		}
#nav  li  a.pic-one{ background-position: 0px 0px;  } 
#nav li a.sprite-two{ background-position: 0 -150px; } 
#nav li a.sprite-three{ background-position: 0 -300px; } 
#nav li a.sprite-four{ background-position: 0 -450px;} 

#enchilada {
    background-color: LightBlue;
    border: 1px solid #63006B;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #C3C3C3;
    margin-left: auto;
    margin-right: auto;
    width: 900px; 
}

#nav li a:hover {
            background: #FFDD00;
            color: #AAAAAA;
        }

#header {padding-left:10px;}
#ver{padding-left:10px;}

